<div class="body-perfil">
  <div class="grid">
    <div class="grid-item grid-foto">
      <img class="foto-perfil" src="assets/perfil.jpeg">
    </div>

    <div class="grid-item grid-titulo">
      <span class="titulo">Rafael Freitas Costa</span>
      <span class="sub-titulo">Desenvolvedor Full-Stack </span>
    </div>


    <div class="grid-item grid-linguagem ">
      <img class="icon-linguagem" src="assets/delphi.png">
    </div>
    <div class="grid-item grid-linguagem ">
      <img class="icon-linguagem" src="assets/js.png">
    </div>
    <div class="grid-item grid-linguagem">
      <img class="icon-linguagem" src="assets/java.png">
    </div>




    <div class="grid-item">

      Teste
    </div>
    <div class="grid-item">

      Teste
    </div>
    <div class="grid-item">

      Teste
    </div>
    <div class="grid-item">

      Teste
    </div>
    <div class="grid-item">

      Teste
    </div>
  </div>
</div>
