<div class="body-perfil texto">
  <div class="grid">
    <div class="grid-item grid-foto">
      <img class="foto-perfil sombra" src="assets/perfil.jpeg">
    </div>

    <div class="grid-item grid-titulo">
      <span class="titulo">Rafael Freitas Costa</span>
      <span class="sub-titulo">Desenvolvedor Full-Stack </span>
    </div>


    <div class="grid-item grid-linguagem">
      <img class="icon-linguagem sombra" src="assets/delphi.png">
    </div>
    <div class="grid-item grid-linguagem">
      <img class="icon-linguagem sombra" src="assets/js.png">
    </div>
    <div class="grid-item grid-linguagem">
      <img class="icon-linguagem sombra" src="assets/java.png">
    </div>
    <div class="grid-item grid-linguagem">
      <img class="icon-linguagem sombra" src="assets/android.png">
    </div>

  </div>
</div>
